header {
    background-color: #00b4b1;
    color: black;
    height: 50px;
    padding-left: 20px;
    line-height: 50 px;
    font-size: large;
}

.navbar{
    background-color: aquamarine;
    color: black;
    height: 25px;
    padding-left: 20px;
    line-height: 25px;
}